.main {


  padding-left: 1%;
  padding-right: 1%;
}



.input_style {
  width: 300px;
  height: 25px;
  border: none;
  
  border-radius: 25px;
  margin-left: 25px;
  margin-left: auto;
  padding-left: 10px;
  background-color: var(--main-button-color);
}

.search {
  background: url("../assets/loupe.png") no-repeat 280px;
  background-color: var(--main-button-color);
  background-size: auto 90%;
}